.bigForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    height: 90.2vh;
    background-image: linear-gradient(to right, #1616167c, #1616167c), url("https://w0.peakpx.com/wallpaper/391/428/HD-wallpaper-save-earth-ecology-concepts-environment-earth-in-the-hands-3d-earth-save-our-planet.jpg");
    background-position: center;
    background-size: cover;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 600px;
        padding: 20px;
        border-radius: 20px;
        // background-image: linear-gradient(to right, #00000079, #00000079), url("https://c4.wallpaperflare.com/wallpaper/1018/497/278/go-green-wallpaper-preview.jpg");
        backdrop-filter: blur(10px);
        background-position: center;
        background-size: cover;

        input {
            color: white;
            border: 1.5px solid #32CD32;
        }

        button {
            background-color: #2aaf2a;
            transition: 0.2s;

            &:hover {
                background-color: #1f871f;
            }
        }


        span {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 100%;
            justify-content: space-between;

            textarea {
                width: 100%;
            }

            .upload {
                width: 100px;
                color: white;
            }
        }

        .span2 {
            padding: 0 20px;
        }

        textarea {
            width: 100%;
            border: 1.5px solid #32CD32;
            border-radius: 15px;
            padding: 8px 10px;

            &:focus {
                outline: none;
                border: 1.5px solid blue;
            }
        }
    }
}

@media (max-width: 610px) {
    .bigForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 20px;
        height: 86.8vh;
        background-image: linear-gradient(to right, #1616167c, #1616167c), url("https://w0.peakpx.com/wallpaper/391/428/HD-wallpaper-save-earth-ecology-concepts-environment-earth-in-the-hands-3d-earth-save-our-planet.jpg");
        background-position: center;
        background-size: cover;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 100%;
            padding: 15px;
            border-radius: 20px;
            background-image: linear-gradient(to right, #00000079, #00000079), url("https://c4.wallpaperflare.com/wallpaper/1018/497/278/go-green-wallpaper-preview.jpg");
            background-position: center;
            background-size: cover;

            input {
                color: white;
                border: 1.5px solid #32CD32;
                width: 100%;
            }


            span {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
                justify-content: space-between;

                textarea {
                    width: 100%;
                }

                .upload {
                    width: 100px;
                    color: white;
                }
            }

            .span2 {
                padding: 0px;
            }

            textarea {
                width: 100%;
                border: 1.5px solid #32CD32;
                border-radius: 15px;
                padding: 8px 10px;

                &:focus {
                    outline: none;
                    border: 1.5px solid blue;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .bigForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 10px;
        height: 86.8vh;
        background-image: linear-gradient(to right, #1616167c, #1616167c), url("https://w0.peakpx.com/wallpaper/391/428/HD-wallpaper-save-earth-ecology-concepts-environment-earth-in-the-hands-3d-earth-save-our-planet.jpg");
        background-position: center;
        background-size: cover;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 100%;
            padding: 15px;
            border-radius: 20px;
            background-image: linear-gradient(to right, #00000079, #00000079), url("https://c4.wallpaperflare.com/wallpaper/1018/497/278/go-green-wallpaper-preview.jpg");
            background-position: center;
            background-size: cover;

            input {
                color: white;
                border: 1.5px solid #32CD32;
                width: 100%;
            }


            span {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
                justify-content: space-between;
                flex-direction: column;

                textarea {
                    width: 100%;
                }

                .upload {
                    width: 100px;
                    color: white;
                }
            }

            .span2 {
                padding: 0px;
                flex-direction: row;
            }

            textarea {
                width: 100%;
                border: 1.5px solid #32CD32;
                border-radius: 15px;
                padding: 8px 10px;

                &:focus {
                    outline: none;
                    border: 1.5px solid blue;
                }
            }
        }
    }
}